/* About Section Specific Styles */
.cover-image img {
    max-width: 100%;
    height: auto;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-pic img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description h1 {
    font-size: 2.5rem;
    color: #03045e;
}

.description p {
    font-size: 1.2rem;
    color: #0077b6;
}
