/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background */
    color: #E0E1DD; /* Light text color */
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for header */
    padding: 1rem;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #E0E1DD; /* Light text color */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #C3073F; /* Accent color for hover effect */
}

.cover-image img {
    width: 100%;
    height: auto;
    display: block;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.profile-pic img {
    border-radius: 50%;
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    object-fit: cover;
}

.description {
    flex: 1;
    padding-right: 2rem;
}

.description h1 {
    color: #E0E1DD; /* Light text color */
}

.skills-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.skills-category {
    flex: 1;
    margin-right: 2rem;
}

.skills-category:last-child {
    margin-right: 0;
}

.skill-box {
    background-color: #1B263B; /* Darker container background */
    color: #E0E1DD; /* Light text color */
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    display: inline-block;
    font-size: 1rem;
}

.certificates-slider {
    display: flex;
    overflow-x: auto;
    padding: 2rem;
}

.certificate-item {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    flex: 0 0 auto;
}

.certificate-image img {
    width: 150px; /* Adjust size as needed */
    height: auto;
}

.project-item {
    margin: 2rem 0;
}

.project-content {
    display: flex;
    align-items: center;
}

.project-images {
    flex: 1;
    overflow: hidden;
}

.project-images img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.project-description {
    flex: 1;
    padding-left: 1rem;
}

.contact-info a {
    color: #1F4068; /* Deep blue accent */
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #1B263B; /* Darker background */
    color: #E0E1DD; /* Light text color */
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic img {
        width: 120px;
        height: 120px;
    }

    .skills-container {
        flex-direction: column;
    }

    .skills-category {
        margin-right: 0;
    }

    .project-content {
        flex-direction: column;
    }
}
