/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #e0e1dd;
    background-color: #03045e; /* Dark background for dark mode */
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
}

.cover-image img {
    width: 100%;
    height: auto;
    display: block;
}

.profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile-pic img {
    width: 150px;
    height: auto;
    border-radius: 8px; /* Rounded corners for profile picture */
}

.description {
    margin-left: 20px;
    color: #e0e1dd;
}

.description h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.description p {
    font-size: 1.2em;
}

section {
    padding: 40px 20px;
}

.skills-container, .certificates-slider, .project-item, .contact-info {
    background-color: rgba(0, 0, 0, 0.7); /* Slightly translucent background */
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
}

.skills-category {
    margin: 0 10px;
}

.skill-box {
    background-color: #415a77;
    color: #e0e1dd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    display: inline-block;
}

.certificates-slider {
    overflow: hidden;
    position: relative;
}

.certificate-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.certificate-description {
    flex: 1;
    margin-right: 20px;
}

.certificate-image img {
    max-width: 200px;
    height: auto;
}

.project-content {
    display: flex;
}

.project-images {
    flex: 1;
    margin-right: 20px;
}

.project-images img {
    max-width: 100%;
    height: auto;
    display: block;
}

.project-description {
    flex: 2;
}

.contact-info a {
    color: #e0e1dd;
    text-decoration: none;
    font-size: 1.2em;
}

.contact-info p {
    font-size: 1em;
}

footer {
    background-color: #1b263b;
}

/* Responsive Design */
@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic {
        margin-bottom: 20px;
    }

    .description {
        margin: 0;
    }

    .project-content {
        flex-direction: column;
    }

    .project-images {
        margin-bottom: 20px;
    }
}
